@model IEnumerable<CSharpBbq.Data.Model.Ladder.Standing>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNoLinks.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            LadderWeekId
        </th>
        <th>
            PlayerId
        </th>
        <th>
            Position
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.LadderWeekId
        </td>
        <td>
            @item.PlayerId
        </td>
        <td>
            @item.Position
        </td>
    </tr>
}

</table>

